{% extends 'base.html' %}

{% block content %}
    <div class="container">

    {% for post in object_list %}
{#        <div class="container border" style="border-radius: 15px">#}
        <div class="post-entry">
            <h2><a href="{% url 'post_detail' post.pk %}" class="text-info"><div class="jumbotron" style="border-radius: 15px"><h3>{{ post.title }}</h3></div></a></h2>
{#        <p>{{ post.body }}</p>#}
{#        </div>#}
        </div>
        <br />
    {% endfor %}
    </div>
{% endblock %}
