{% extends 'base.html' %}

{% block content %}
    <div class="container">
    {% load crispy_forms_tags %}
    <div class="post-entry">
    <h2 class="font-weight-bold">{{ post.title}}</h2>
    <p>{{ post.body|linebreaks }}</p>
    </div>
    {% if user.is_authenticated %}
        <div class="container">
        <a href="{% url 'post_edit' post.pk %}"><button type="button" class="btn btn-info">Edit This Post</button></a>
        <br /><br/>
            <a href="{% url 'post_delete' post.pk %}"><button type="button" class="btn btn-info">Delete This Post</button></a>
        </div>
        <br /><br />
        <h4 class="text-info">Comments</h4>
  <div class="row">
    <div class="col-md-8">
      <div class="card card-signin my-5">
        <div class="card-body">
            <div class="container py-5">
          <form class="form-signin" method="POST" id="post-form">
            {% csrf_token %}
            <fieldset class="form-group">
              <br />
              {{ form|crispy }}
            </fieldset>
            <div class="form-group">
              <button
                class="btn btn-lg btn-info btn-block text-uppercase"
                type="submit"
              >
                Comment</button
              ><br />
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>



    {% else %}
        <div class="col-md-8">
    <p>You must be logged in to edit or delete a post or comment</p>
    </div>
    {% endif %}

    {% if post.details.all %}

        {% for detail in post.details.all %}
            <div class="container border table-secondary" style="border-radius: 10px">
                <p class="border table-info"><b>{{ detail.author }}</b> <span style="font-size: 12px">{{ detail.comment_date }}</span></p>

            <p>{{ detail.body }}</p>

{#            <p><small>{{ detail.comment_date }}</small></p>#}
            </div>
            <br />
        {% endfor %}
    {% endif %}
</div>
{% endblock %}